.drop-down__item-button
  position: relative
  display: block
  width: 100%
  box-sizing: border-box
  margin: 0
  padding: 1em
  background: none
  border: none
  text-align: left

  &:hover
    background: linear-gradient( to right, #dadada, #fff);

